# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-feign-hystrix-order83/target/
/cloud-consumer-feign-order83/target/
/cloud-consumer-hystrix-dashboard9001/target/
/cloud-consumerconsul-order82/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-provider-hystrix-payment8001/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-providerconsul-payment8006/target/
/cloud-zuul-gateway-9527/target/
/colud-consumer-order80/target/